<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.config.title %></title>
  <% if (htmlWebpackPlugin.options.config.viewport == 'device') { %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <% } else { %>
    <meta name="viewport" content="width=<%= htmlWebpackPlugin.options.config.viewport %>, user-scalable=no, target-densitydpi=device-dpi">
  <% } %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no"> 
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>vendors/swiper/swiper.min.css?v=<%= htmlWebpackPlugin.options.config.version %>">
  <% if (webpackConfig.mode == 'production') { %>
    <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>css/app.css?v=<%= htmlWebpackPlugin.options.config.version %>">
  <% } %> 
</head>
<body>
  <div id="app"></div>
  <script src="<%= webpackConfig.output.publicPath %>vendors/zepto.min.js?v=<%= htmlWebpackPlugin.options.config.version %>"></script>
  <script src="<%= webpackConfig.output.publicPath %>vendors/swiper/swiper.min.js?v=<%= htmlWebpackPlugin.options.config.version %>"></script>
  <script src="<%= webpackConfig.output.publicPath %>vendors/wechat.min.js?v=<%= htmlWebpackPlugin.options.config.version %>"></script>
  <script src="<%= webpackConfig.output.publicPath %>js/app.js?v=<%= htmlWebpackPlugin.options.config.version %>"></script>
</body>
</html>